html, body{
  min-height: 100%;
}

body{
  padding: 0;
  margin: 10;
}
.container { 
    height: 100px;
    position: relative;
}

.img {
  z-index: -25;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_yt {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttonlayout {
    font-family: monospace;
    background-color: rgb(106, 235, 31);
}


.body {
    background-color: rgb(2,0,36);
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(54, 54, 54) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(54, 54, 54) 1px, transparent 1px);
      z-index: -1000;
  }
  #bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .fs_color{
    font-size: 22px;
    color: white;
    font-family: monospace;

  }

  .monowhite{
    font-family: monospace;
    color: white;
    font-size: 18px;
  }

  .monogreen{
    font-family: monospace;
    color: rgb(106, 235, 31);
    font-size: 18px;
  }

  .footst{
    width: 100%;
    text-align: right;
    font-size: 15px;
    font-family: monospace;
    color: white;
  }

  .title{
    text-align: center;
    animation: color-change 15s infinite;
    font-weight: bolder;
  }

  @keyframes color-change{
    0% {color: red;}
    33% {color: blue;}
    66%  {color: green;}
    100% {color: red;}
  }


  .player {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 320px;
    width: 480px;
  }

  